<form action='/<%= idea.id %>' method='POST'>
  <h3>
    <% if idea.id %>
      Edit your Idea

      <br />

      <input type='text' name='idea[title]' value="<%= idea.title %>" placeholder = "Title"/><br/>
      <textarea name='idea[description]'><%= idea.description %></textarea><br/>
      <input type='text' name='idea[tags]' value="<%= idea.tag_list %>" placeholder = "Tags"/><br/>
      <input type='submit'/>

    <% else %>
      Your Idea:

      <br />

      <input type='text' name='idea[title]' value="<%= idea.title %>" placeholder='Title'/><br/>
      <textarea placeholder='Description' name='idea[description]'></textarea><br/>
      <input type='text' name='idea[tags]' value="<%= idea.tag_list %>" placeholder = "Tags"/><br/>
      <input type='submit'/>

    <% end %>

  </h3>

  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>

  <br />

  <a href="" class="box"> How to submit an idea via SMS </a>
</form>

<div class="sms-instructions">
</div>

<script>
  $(document).ready(function(){
    $(".box").click(function(e){
      $(".sms-instructions").prepend("<p> Text 513-322-5473 with a message in the following format: title, description </p>");
      e.preventDefault();
    });
  });
</script>
