
  <h1>IdeaBox</h1>
  
  <%= erb :form, locals: {idea: idea} %>

  <h3> Search: </h3>

  <form action='/search' method='GET'>

    <input type='text' name='search' />
    <input type='submit' value="Search"/>

  </form>

  <% if search_results != []  %>

    <% search_results.each do |idea| %>
      <%= idea.title %>
      <%= idea.description %>
      <% end %>

  <% end %>


  <h3>Existing Ideas</h3>

  <ul>
    <% ideas.each do |idea| %>
    <li>

      <%= idea.title %>

      <form action='/<%= idea.id %>/up' method='POST' style="display: inline">
        <input type='submit' value="↑"/>
      </form>

      <form action='/<%= idea.id %>/down' method='POST' style="display: inline">
        <input type='submit' value="↓"/>
      </form>

      </br>

      <%= idea.description %>

      </br>
      
      <a href="/<%= idea.id %>/edit">Edit</a>
      <form action="/<%= idea.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete"/>
      </form>
    </li>
    <% end %>
  </ul>
